name: CI

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get version
        id: link
        run: |
          apt-get update && apt-get install -y lynx
          url=$(curl -s 'https://www.amd.com/en/support/chipsets/amd-socket-am4/b450' \
          -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:82.0) Gecko/20100101 Firefox/82.0' \
          | lynx -stdin -dump | grep -m 1 drivers.amd.com/drivers/amd_chipset_software_ | cut -d ' ' -f 3)
          echo $url
          echo ::set-output name=url::$url
      - name: Get pwsh version
        shell: pwsh
        env:
          LINK: ${{ steps.link.outputs.url }}
        run: 'write-host "Link is $ENV:LINK"'
